.comments-page {
  .base-input {
    margin-right: 0.5rem;
  }
  .comment-list {
    ul {
      .card-container {
        display: flex;
        column-gap: 0.5rem;

        .left {
          max-height: 10rem;
          width: 50%;
          margin: 10px 0;
          .card {
            width: 100%;
          }

          button.reply {
            width: 3rem;
            cursor: pointer;
          }

          .base-input-box {
            width: 100%;
            input {
              width: 50%;
            }
            .action-btn {
              width: 50%;
              flex-direction: row;
              justify-content: flex-end;
              margin: 0.5rem 0;

              .base-button {
                width: 3.5rem;
                height: 1.25rem;
                padding: unset;
              }
            }
          }
        }

        .action-btn.confirm {
          button {
            width: 4rem;
          }
        }
        .action-btn.hidden {
          display: none;
        }
        .action-btn {
          display: flex;
          flex-direction: column;
          row-gap: 0.5rem;
          align-items: center;
          justify-content: center;
          button {
            height: 2rem;
            width: 2rem;
            svg {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  .add-comment {
    width: 50%;
    .base-input {
      margin-bottom: 0.5rem;
    }
    .btn-container.visible {
      transition: all 0.5s ease-in-out;
      display: flex;
    }
    .btn-container.hidden {
      transition: all 0.5s ease-in-out;
      display: none;
    }
    .btn-container {
      display: flex;
      justify-content: flex-end;
      max-height: 3rem;
      column-gap: 0.5rem;

      width: 25rem;
      button {
        height: 100%;
        width: 5rem;
      }
    }
  }
}
